@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
    background: #f6f5f7;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile {
    background: white;
    width: 50vw;
    height: 60vh;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    border-radius: 10px;
    border: 2px solid #e77878;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 12% calc(50vw * 0.35 - 60vh * 0.14) 5fr 3fr;
    padding: 2%;
    grid-column-gap: 2%;
}

.img {
    width: 100%;
    height: calc(50vw * 0.32);
    grid-row: 1/3;
    border-radius: 50%;
    border: 3px solid #e77878;
}

.profile_pic {
    width: 100%;
}

.username {
    position: relative;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
    grid-column: 2/3;
    grid-row: 1/2;
}

.username > span {
    position: absolute;
    height: 0;
    width: 75%;
    left: 12.5%;
    top: 135%;
    border-bottom: 2px solid #e77878;
}

.fio {
    grid-row: 3/4;
    text-align: center;
    font-size: larger;
}

.info {
    grid-row: 2/4;
    padding: 10%;
    font-size: 18px;
}

li {
    width: 100%;
    display: flex;
    gap: 2%;
    margin-bottom: 5%;
}

li > div {

}



